body {
  background-color: rgb(122, 122, 122);
  display: flex;
  align-items: center;
  justify-content: center;
	padding: 15%;
}

.container {
	border: 2px solid whitesmoke;
	border-radius: 16px;
	width: 500px;
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
}

.head {
	font-weight: 600;
	font-size: larger;
	margin-bottom: 10px;
}

input {
	width: 400px;
	align-self: center;
	border: 2px solid white;
	border-radius: 6px;
}
input:hover {
	background-color: gray;
}